@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {margin: 0; padding:  0;}
#plugin-servientrega {
	font-family: 'Nunito', 'FuturaLT', Tahoma, sans-serif;
	margin: 0!important;
	padding: 0!important;
	color: #3a3a3a!important;
	background:#fff!important;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
#plugin-servientrega strike {
  text-decoration: line-through;
}
#plugin-servientrega .underline {
  text-decoration: underline;
}
#plugin-servientrega .small, #plugin-servientrega small {
  font-size: 85%;
}
#plugin-servientrega .font-normal {
  font-weight: 400;
}
#plugin-servientrega .color-black {
  color: #000 !important;
}
#plugin-servientrega .color-white {
  color: #fff !important;
}
#plugin-servientrega .color-grey {
  color: #757575;
}
#plugin-servientrega .color-dark-grey {
  color: #434343;
}
#plugin-servientrega .color-light-grey, #plugin-servientrega .color-light-grey.font-bigger:hover {
  color: #a4a4a4;
}
#plugin-servientrega .color-light-grey.font-bigger:hover {
  text-decoration: none;
}
#plugin-servientrega .color-lighter-grey {
  color: #bfbfbf;
}
#plugin-servientrega .color-green {
  color: #009a44;
}
#plugin-servientrega .bg-grey {
  background: #fafbfe;
}
#plugin-servientrega a {
  color: #009a44;
}
#plugin-servientrega a:hover {
  color: #026d2a;
}
#plugin-servientrega .p-big, #plugin-servientrega .font-bigger {
  font-size: 1.4em;
}
#plugin-servientrega .p-medium, #plugin-servientrega .btn-rounded.btn-small {
  font-size: 1.25em;
}
#plugin-servientrega .p-semi {
  font-size: 1.143em;
}
#plugin-servientrega .btn {
  border-radius: 10px !important;
  font-weight: bold;
}
#plugin-servientrega .btn-primary, #plugin-servientrega .badge-primary {
  background: #56d052 !important;
  border-color: #56d052 !important;
}
#plugin-servientrega .btn-primary:focus, #plugin-servientrega .btn-primary:not(:disabled):not(.disabled).active:focus, #plugin-servientrega .btn-primary:not(:disabled):not(.disabled):active:focus, #plugin-servientrega .show > .btn-primary.dropdown-toggle:focus, #plugin-servientrega .page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
#plugin-servientrega .badge-primary.sticker {
  background: #3db23e !important;
  border-color: #3db23e !important;
}
#plugin-servientrega .badge-primary.entregado {
  background: #009a44 !important;
  border-color: #009a44 !important;
}
#plugin-servientrega .btn-primary:hover, #plugin-servientrega .btn-primary:active, #plugin-servientrega .btn-primary:focus {
  background: #009a44 !important;
  border-color: #009a44 !important;
}
#plugin-servientrega .btn-danger, #plugin-servientrega .badge-danger {
  background: #e83e4a !important;
  border-color: #e83e4a !important;
}
#plugin-servientrega .btn-danger:hover, #plugin-servientrega .btn-danger:active, #plugin-servientrega .btn-danger:focus {
  background: #c82333 !important;
  border-color: #c82333 !important;
}
#plugin-servientrega .btn-warning, #plugin-servientrega .badge-warning {
  background: #fa9923 !important;
  border-color: #fa9923 !important;
  color: #fff !important;
}
#plugin-servientrega .btn-warning:focus, #plugin-servientrega .btn-warning:not(:disabled):not(.disabled).active:focus, #plugin-servientrega .btn-warning:not(:disabled):not(.disabled):active:focus, #plugin-servientrega .show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #ea983385;
}
#plugin-servientrega .btn-warning:hover, #plugin-servientrega .btn-warning:active, #plugin-servientrega .btn-warning:focus {
  background: #de7a01 !important;
  border-color: #de7a01 !important;
}
#plugin-servientrega .btn-outline-primary {
  color: #009a44 !important;
  border-color: #009a44 !important;
  border-radius: 4px !important;
  background: #fff;
}
#plugin-servientrega .btn-outline-primary:focus, #plugin-servientrega .btn-outline-primary:not(:disabled):not(.disabled).active:focus, #plugin-servientrega .btn-outline-primary:not(:disabled):not(.disabled):active:focus, #plugin-servientrega .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
#plugin-servientrega .btn-outline-primary:hover, #plugin-servientrega .btn-outline-primary:active, #plugin-servientrega .btn-outline-primary:focus {
  color: #fff !important;
  background: #009a44 !important;
  border-color: #009a44 !important;
}
#plugin-servientrega .btn-rounded {
  background: #0ab85c;
  background: -moz-linear-gradient(0deg, #009a44 0%, #0ab85c 100%);
  background: -webkit-linear-gradient(0deg, #009a44 0%, #0ab85c 100%);
  background: linear-gradient(0deg, #009a44 0%, #0ab85c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009a44",endColorstr="#0ab85c",GradientType=1);
  border-color: transparent !important;
  border: none;
  color: #fff !important;
  border-radius: 3em !important;
  padding: 20px 80px !important;
  height: auto !important;
  line-height: 1.1em !important;
  font-size: 1.4em;
  font-weight: 400;
  transition: none;
}
#plugin-servientrega .btn-rounded.btn-small {padding: 15px 25px!important;}
#plugin-servientrega .btn-rounded:focus, #plugin-servientrega .btn-rounded:not(:disabled):not(.disabled).active:focus, #plugin-servientrega .btn-rounded:not(:disabled):not(.disabled):active:focus, #plugin-servientrega .show > .btn-rounded.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
#plugin-servientrega .btn-rounded:hover, #plugin-servientrega .btn-rounded:active, #plugin-servientrega .btn-rounded:focus {
  background: #009a44 !important;
  border-color: transparent !important;
}
#plugin-servientrega .btn-rounded:disabled, #plugin-servientrega .btn-rounded.disabled, #plugin-servientrega .btn-rounded:disabled:hover, #plugin-servientrega .btn-rounded.disabled:hover {
  background: #d6d6d6 !important;
}
#plugin-servientrega .alert.alert-warning {
  background: #ffe2ac70;
  padding: 17px 45px;
  color: #151515;
  font-size: 1.15em;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  line-height: 1.25em;
  align-items: center;
  border: none;
}
#plugin-servientrega .alert.alert-warning img {
  width: 40px;
  margin-right: 15px;
}
#plugin-servientrega .badge {
  border-radius: 0;
  padding: 7px 10px;
}
#plugin-servientrega .btn:hover {
  opacity: 0.9;
}
#plugin-servientrega .btn:disabled:hover, #plugin-servientrega .btn.disabled:hover {
  opacity: 0.65;
  box-shadow: none !important;
}
#plugin-servientrega .box {
  border: 1px solid #ddd;
  background: #fff;
}
#plugin-servientrega .shadow-sm {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.075) !important;
}
#plugin-servientrega .shadow {
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.05) !important;
}
#plugin-servientrega .cajas-colores .colores.primero {
  border-left: 5px solid #009a44;
}
#plugin-servientrega .cajas-colores .colores.segundo {
  border-left: 5px solid #df1995;
}
#plugin-servientrega .cajas-colores .colores.tercero {
  border-left: 5px solid #8edd65;
}
#plugin-servientrega .cajas-colores .colores img {
  max-width: 80px;
}
#plugin-servientrega .cajas-colores p.p-medium {
  margin-bottom: 0;
}
#plugin-servientrega h1, #plugin-servientrega h2, #plugin-servientrega h3, #plugin-servientrega h4, #plugin-servientrega h5 {
  font-family: "Nunito", "FuturaLT", Tahoma, sans-serif;
  font-weight: bold;
}
#plugin-servientrega .h1, #plugin-servientrega h1 {
  font-size: 2.15em;
}
#plugin-servientrega .h2, #plugin-servientrega h2 {
  font-size: 1.85em;
  color: #434343;
}
#plugin-servientrega .h3, #plugin-servientrega h3 {
  font-size: 1.55em;
  color: #434343;
}
#plugin-servientrega .h4, #plugin-servientrega h4 {
  font-size: 1.4em;
}
#plugin-servientrega .h5, #plugin-servientrega h5 {
  font-size: 1.25em;
}
#plugin-servientrega form .form-group {
  font-size: 1.143em;
  margin-bottom: 1.1em;
}
#plugin-servientrega form .form-group-inside .form-group {font-size: 1em;}
#plugin-servientrega form .form-check, #plugin-servientrega form .custom-control-inline {
  font-size: 1.143em;
}
#plugin-servientrega .form-control {
  border-color: #c8c8c8 !important;
  height: calc(2.525em + 2px);
  border-radius: 5px;
  font-size: 1em;
}
#plugin-servientrega select.form-control option {
  color: #3a3a3a;
}
#plugin-servientrega select.form-control option[selected], #plugin-servientrega select.form-control option:selected, #plugin-servientrega select.form-control option:checked {
  color: #3a3a3a;
  background: #f5f5f5;
}
#plugin-servientrega .form-group button {
  font-size: 1em;
}
#plugin-servientrega .form-group .btn-outline-primary {
  height: calc(2.525em + 2px);
  padding: 7px 38px;
}
#plugin-servientrega .form-group label {
  color: #434343;
  line-height: 1.25em;
}
#plugin-servientrega .form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.25);
  border-color: #5bbf5b !important;
}
#plugin-servientrega .form-check-custom {
  position: relative;
  min-height: 1.75em;
  padding-left: 2.5em;
}
#plugin-servientrega .form-check-custom .form-check-input-custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
#plugin-servientrega .form-check-label-custom::before {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #d6d6d6 solid 2px;
  border-radius: 2px;
}
#plugin-servientrega .form-check-label-custom::after {
  position: absolute;
  top: -1px;
  left: 3px;
  display: block;
  width: 18px;
  height: 18px;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  color: #323232;
}
#plugin-servientrega .form-check-custom .form-check-input-custom:checked ~ .form-check-label-custom::after {
  content: "\f00c";
}
#plugin-servientrega .custom-radio .custom-control-label {
  margin-left: 10px;
}
#plugin-servientrega .custom-radio .custom-control-label::before {
  top: 0.1em !important;
  left: -2em !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 10px !important;
  box-sizing: border-box;
  border: #d6d6d6 solid 2px;
  background: none !important;
}
#plugin-servientrega .custom-radio .custom-control-label::after {
  top: 0.1em !important;
  left: -2em !important;
  width: 20px;
  height: 20px;
  content: "";
  background: no-repeat 50%/50% 50%;
}
#plugin-servientrega .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='-2 -2 4 4'%3e%3ccircle r='2' fill='%23a8a8a8'/%3e%3c/svg%3e") !important;
}
#plugin-servientrega .custom-control-input:checked ~ .custom-control-label::before, #plugin-servientrega .custom-radio .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
  border-color: #048205;
}
#plugin-servientrega .invalid-feedback, #plugin-servientrega .custom-control-input.is-invalid ~ .custom-control-label, #plugin-servientrega .was-validated .custom-control-input:invalid ~ .custom-control-label, #plugin-servientrega .text-danger {
  color: #b5030f !important;
}
#plugin-servientrega .custom-control-input.is-invalid ~ .custom-control-label::before, #plugin-servientrega .was-validated .custom-control-input:invalid ~ .custom-control-label::before {
  border-color: #b5030f !important;
}
#plugin-servientrega .form-control.is-invalid, #plugin-servientrega .was-validated .form-control:invalid {
  border-color: #b5030f !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23e83e4a' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23b5030f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
}
#plugin-servientrega .form-control.is-valid {
  border-color: #28a745 !important;
}
#plugin-servientrega form .valid-feedback, #plugin-servientrega form .form-text {
  font-size: 85%;
}
#plugin-servientrega hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 0;
  border-top: 1.5px solid #e5e5e5;
}
#plugin-servientrega .iti, #plugin-servientrega .intl-tel {
  width: 100%;
}
#plugin-servientrega .page-item.active .page-link {
  background-color: #009a44;
  border-color: #009a44;
}
#plugin-servientrega .page-link {color: #009a44;}
#plugin-servientrega .page-link:hover {color: #026d2a;}
#plugin-servientrega .dropdown-item.active, #plugin-servientrega .dropdown-item:active {background-color: #009a44;}
#plugin-servientrega .badge {text-transform: uppercase; border-radius: 7px; padding: 8px 10px 6px;}

/* Header */
#plugin-servientrega #header-main-serv {
  background: #37b361;
  background: -moz-linear-gradient(0deg, #37b361 0%, #009a44 100%);
  background: -webkit-linear-gradient(0deg, #37b361 0%, #009a44 100%);
  background: linear-gradient(0deg, #37b361 0%, #009a44 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#37b361",endColorstr="#009a44",GradientType=1);
  padding: 0 0 40px;
  z-index: 2;
  position: relative;
}
#plugin-servientrega #header-main-serv .logo {
  padding-top: 20px;
  padding-bottom: 20px;
}
#plugin-servientrega #header-main-serv .logo img {
  max-width: 240px;
  height: auto;
}

/*Contenido*/
#plugin-servientrega #content-serv {
  margin: -40px 0 0;
  border-top-right-radius: 30px;
  z-index: 3;
  position: relative;
  background: #fff;
  padding: 50px 0;
}
#plugin-servientrega .left-cont {
  max-width: 800px;
  margin-right: auto;
}
#plugin-servientrega .centered-cont {
  max-width: 950px;
  margin: auto;
}
#plugin-servientrega .centered-mid {
  max-width: 700px;
  margin: auto;
}
#plugin-servientrega .centered-small {
  max-width: 500px;
  margin: auto;
}

/*Tabs envíos*/
#plugin-servientrega #envios-tab {
  background: #f2f2f2;
  border: none;
  padding-right: 200px;
}
#plugin-servientrega #envios-tab .nav-link {
  border: 1px solid #f2f2f2;
  border-top-width: 1.5px;
  border-radius: 0;
  color: #5f5f5f;
  font-size: 1.4em;
  height: 64px;
  padding: 12px 40px;
  line-height: 36px;
}
#plugin-servientrega #envios-tab .nav-item.show .nav-link, #plugin-servientrega #envios-tab .nav-link.active {
  border-color: #f2f2f2 #f2f2f2 #fff #fff;
  position: relative;
  color: #009a44;
  font-weight: bold;
}
#plugin-servientrega #envios-tab .nav-link.active:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #009a44;
  position: absolute;
}
#plugin-servientrega .envios .tab-pane {
  position: relative;
  padding: 30px 0;
}
#plugin-servientrega .envios .tab-pane .cargue-masivo {
  position: absolute;
  top: -40px;
  right: 15px;
  font-weight: 400;
}
#plugin-servientrega .envios .tab-pane .cargue-masivo img {
  width: 1.3em;
  vertical-align: middle;
}
#plugin-servientrega .envios .tab-pane .card.shadow {
  border: 1px solid rgba(0, 0, 0, 0.05);
}
#plugin-servientrega .envios .tab-pane .busqueda-avanzada {
  font-size: 1.25em;
}
#plugin-servientrega .envios .tab-pane .busqueda-avanzada img {
  width: 22px;
  margin-right: 5px;
  margin-bottom: 2px;
}
#plugin-servientrega .envios .tab-pane .busqueda-avanzada:after {
  content: "\f077";
  color: #4a4a4a;
  font-family: "Font Awesome 5 Free";
  margin-left: 6px;
  font-weight: bold;
  font-size: 0.87em;
}
#plugin-servientrega .envios .tab-pane .busqueda-avanzada.collapsed:after, #plugin-servientrega .envios .tab-pane .busqueda-avanzada[aria-expanded=false]:after {
  content: "\f078";
}
#plugin-servientrega .envios .tab-pane .busqueda-avanzada:hover {
  text-decoration: none;
}
#plugin-servientrega .envios .tab-pane .right-div {
  margin-left: auto;
}
#plugin-servientrega .envios .tab-pane .color-lighter-grey.separator {
  margin: 0 5px;
}
#plugin-servientrega .envios .tab-pane .right-div .p-medium {
  margin: 8px 4px 8px 0;
  line-height: 1em;
}
#plugin-servientrega .envios .tab-pane .right-div select.form-control.no-border {
  border: none;
  height: 2em;
  padding: 5px 2px;
  font-size: 1.25em;
}
#plugin-servientrega #envios-proceso .card.card-body {
  border-radius: 8px;
  padding: 30px 30px 15px;
}
#plugin-servientrega .envios .tab-pane .acciones-form {
    font-size:  1.2em;
}
#plugin-servientrega .envios .tab-pane .boton-guias {
    display: inline-block;
    margin: 7px 0;
    color: #434343;
    font-size: 1.2em;
}
#plugin-servientrega .envios .boton-guias img {
    width: 22px;
    margin-right: 5px;
}
#plugin-servientrega .envios .boton-guias:hover {
    text-decoration: none;
    opacity: 0.8;
}
#plugin-servientrega .modal-servientrega .modal-content {
  border: none;
  border-radius: 8px;
}
#plugin-servientrega .modal-servientrega .modal-title {
  margin-left: auto;
  margin-right: -1.75em;
}
#plugin-servientrega .modal-servientrega .modal-body {
  padding: 2em;
}
#plugin-servientrega .modal-servientrega .modal-header {
    padding: 1.2rem 1rem;
}
#plugin-servientrega .modal-servientrega .modal-header .close {
  font-size: 2em;
}
#plugin-servientrega .modal-servientrega .modal-content .generarguiastexto {
  max-width: 480px;
  margin: 0 auto;
}
#plugin-servientrega .modal-servientrega .modal-body .fa-pulse {
    width: 80px;
}
#plugin-servientrega .input-group>.form-control:not(:first-child) {border-left: none; padding-left: 6px;}
#plugin-servientrega .input-group>.input-group-prepend>.input-group-text {background: none; padding-right: 6px; color: #000; font-size: 1.2em;}

/* Tabla envíos */
#plugin-servientrega .tabla-datatables .shadow {border: 1px solid #dee2e6; border-radius: 5px;}
#plugin-servientrega .tabla-datatables .bottom select.form-control {width: 70px;}
#plugin-servientrega .table thead th {background: #f4f4f4; border-bottom: 1px solid #dee2e6; white-space: nowrap;}
#plugin-servientrega .tabla-datatables .top .dataTables_info {padding: 10px 20px;}
#plugin-servientrega .tabla-datatables thead .sorting {padding-right: 1.3rem;}
#plugin-servientrega .tabla-datatables thead .no-sort.sorting:before, #plugin-servientrega .tabla-datatables thead .no-sort.sorting:after {display:  none;}
#plugin-servientrega .tabla-datatables thead .no-sort.sorting {pointer-events: none!important; cursor: default!important; padding-right: 0.75rem;}
#plugin-servientrega .tabla-datatables thead .form-check-custom {padding-left: 1.25em;}
#plugin-servientrega ul.dtr-details {width: 100%; font-size: 13px}
#plugin-servientrega table.dataTable > tbody > tr.child span.dtr-title {min-width: 140px;}
#plugin-servientrega .tabla-datatables img {width: 24px;}
#plugin-servientrega .tabla-datatables table a {text-decoration: underline;}
#plugin-servientrega .buttons-excel {background: none!important; border: none!important; color: #009a44!important; padding: 0; line-height: 1.2em; border-right: 2px solid #bfbfbf; font-weight: 400; text-align: right;}
#plugin-servientrega .buttons-excel:hover, #plugin-servientrega .buttons-excel:focus, #plugin-servientrega .buttons-excel:active {color: #026d2a!important; outline: none; box-shadow: none!important;}
#plugin-servientrega .buttons-excel span {padding: 0 15px; line-height: 1.2em; border-right: 2px solid #bfbfbf;}
#plugin-servientrega .buttons-colvis {background: none!important; border: none!important; color: #505050!important; padding: 0 20px 0 14px; line-height: 1.2em; font-weight: 400;}
#plugin-servientrega .buttons-colvis:hover, #plugin-servientrega .buttons-colvis:focus, #plugin-servientrega .buttons-colvis:active {color: #323232!important; outline: none; box-shadow: none!important;}
#plugin-servientrega .buttons-colvis span {padding: 0; line-height: 1.2em;}
#plugin-servientrega .buttons-colvis span.dt-down-arrow {padding: 0;}
#plugin-servientrega #totalEnvios, #plugin-servientrega #totalEnviosRealizados {margin-top: 0!important;}
#plugin-servientrega .dt-button-collection .dropdown-menu {right: 0; left: auto;}

/* Detalle Envío */
#plugin-servientrega .detalle-envio .sidebar img {width: 24px; margin-right: 4px; margin-top: -2px;}
#plugin-servientrega .detalle-envio .sidebar .btn {line-height: 24px!important; text-align: left;}
#plugin-servientrega .detalle-envio .sidebar .btn.p-medium {color: #434343; font-weight: 400; padding: 10px 0 10px 10px;}
#plugin-servientrega .detalle-envio .sidebar .btn.p-medium:hover {color: #009a44 !important;}
#plugin-servientrega .editar-info .fa-pen {color: #000; padding: 10px; background: #f1f1f1; font-size: 0.875em; border-radius: 5px;}
#plugin-servientrega .editar-info:hover .fa-pen {color: #434343;}
#plugin-servientrega .detalle-envio .shadow-box {border-radius: 6px;}

/* Media queries */
@media all and (min-width: 768px) {
  #plugin-servientrega .invisible.sr-only {display: block !important;}
  #plugin-servientrega .detalle-envio .sidebar {border-left: 1.5px solid #e2e2e2;}
  #plugin-servientrega .detalle-envio .shadow-box .col-md-6 {border-left: 1.5px solid #e2e2e2;}
}
@media all and (min-width: 768px) and (max-width: 1199px) {
  #plugin-servientrega .detalle-envio .shadow-box .col-md-6:nth-of-type(odd) {border-left: none;}
}
@media all and (min-width: 992px) {
  #plugin-servientrega .envios .tab-pane .cargue-masivo {
    padding: 8px 15px;
    font-size: 1.15em;
    top: -50px;
  }
  #plugin-servientrega .envios .tab-pane .acciones-form select {
    min-width: 300px;
  }
}
@media all and (min-width: 1200px) {
  #plugin-servientrega .envios .tab-pane .cargue-masivo {
    top: -52px;
  }
  #plugin-servientrega .detalle-envio .col-xxl-10 {padding-right: 25px;}
  #plugin-servientrega .detalle-envio .sidebar {padding-left: 25px;}
  #plugin-servientrega .detalle-envio .shadow-box .col-md-6 {border-left: 1.5px solid #e2e2e2;}
  #plugin-servientrega .detalle-envio .shadow-box .col-md-6:nth-of-type(1) {border-left: none;}
}
@media all and (min-width: 1400px) {
  #plugin-servientrega .container {
    width: 92%;
    max-width: 1660px;
  }
  #plugin-servientrega .envios .tab-pane .acciones-form select {
    min-width: 410px;
  }
  #plugin-servientrega .col-xxl-2 {-ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%;}
  #plugin-servientrega .col-xxl-10 {-ms-flex: 0 0 80%; flex: 0 0 80%; max-width: 80%;}
}
@media all and (min-width: 1600px) {
  #plugin-servientrega .container-xl {
    max-width: 1460px;
  }
  #plugin-servientrega .container-xxl {
    max-width: 1620px;
    margin: auto;
  }
  #plugin-servientrega .col-xxl-2 {-ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%;}
  #plugin-servientrega .col-xxl-10 {-ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%;}
  #plugin-servientrega .detalle-envio .col-xxl-10 {padding-right: 15px;}
  #plugin-servientrega .detalle-envio .sidebar {padding-left: 15px;}
}
@media all and (min-width: 1800px) {
  #plugin-servientrega .detalle-envio .col-xxl-10 {padding-right: 25px;}
  #plugin-servientrega .detalle-envio .sidebar {padding-left: 25px;}
}
@media all and (max-width: 1199px) {
  #plugin-servientrega body {
    font-size: 0.8125em;
  }
  #plugin-servientrega .btn-rounded {
    border-radius: 40px !important;
    padding: 17px 70px !important;
    font-size: 1.3em;
  }
  #plugin-servientrega .font-bigger {
    font-size: 1.3em;
  }
  #plugin-servientrega #content-serv {
    padding: 40px 0;
  }
  #plugin-servientrega .alert.alert-warning {
    padding: 17px 30px;
  }
  #plugin-servientrega #envios-tab .nav-link {
    font-size: 1.3em;
    height: 60px;
    padding: 15px 40px;
    line-height: 28px;
  }
}
@media all and (max-width: 991px) {
  #plugin-servientrega #envios-tab .nav-link {
    font-size: 1.25em;
    height: 50px;
    padding: 12px 40px;
    line-height: 23px;
  }
  #plugin-servientrega #envios-proceso .card.card-body {
    padding: 20px 20px 5px;
  }
}
@media all and (max-width: 767px) {
  #plugin-servientrega #envios-tab {
    padding-right: 0;
  }
  #plugin-servientrega body {
    font-size: 0.75em;
  }
  #plugin-servientrega .btn-rounded {
    border-radius: 35px !important;
    padding: 15px 50px !important;
    font-size: 1.2em;
  }
  #plugin-servientrega .font-bigger {
    font-size: 1.2em;
  }
  #plugin-servientrega #content-serv {
    padding: 30px 0;
  }
  #plugin-servientrega .alert.alert-warning {
    padding: 17px 20px;
  }
  #plugin-servientrega .envios .tab-pane .cargue-masivo {
    position: relative;
    top: 0;
    right: 0;
    margin: 0 0 10px;
  }
  #plugin-servientrega #envios-tab .nav-link {
    padding: 12px 20px;
  }
  #plugin-servientrega .detalle-envio .sidebar {border-top: 1px solid #e2e2e2; padding-top: 20px;}
  #plugin-servientrega .detalle-envio .shadow-box .col-md-6 {border-top: 1.5px solid #e2e2e2; padding-top: 5px; padding-bottom: 5px;}
  #plugin-servientrega .detalle-envio .shadow-box .col-md-6:nth-of-type(1) {border-top: none;}
}
@media all and (max-width: 575px) {
  #plugin-servientrega .alert.alert-warning {
    padding: 15px;
  }
  #plugin-servientrega .alert.alert-warning img {
    width: 35px;
    margin-right: 10px;
  }
  #plugin-servientrega .btn-rounded {
    padding: 15px 30px !important;
  }
  #plugin-servientrega .modal-servientrega .modal-body {
    padding: 1.5em;
  }
  #plugin-servientrega #envios-tab .nav-link {
    padding: 12px 18px;
  }
  #plugin-servientrega .buttons-colvis {padding: 0 15px 0 10px;}
  #plugin-servientrega .buttons-excel span {padding-right: 10px;}
}
@media all and (max-width: 360px) {
  #plugin-servientrega #envios-tab .nav-link {
    padding: 12px 10px;
    font-size: 1.125em;
  }
}